# Web框架
fastapi
uvicorn

# 数据库
sqlalchemy
mysql-connector-python
redis

# 工具库
python-dotenv
pydantic
requests
python-multipart

# AI相关
transformers

# 监控
prometheus-client

# 其他
python-jose[cryptography]
python-dateutil
pyjwt
cryptography